{% extends "base.html" %}

{% block main %}
  <h1>Pending</h1>
                        <div class=''>
                            <h2>{{entry.name}}</h2>
                             <p>ID: {{entry.job_id}}<p>
                             <p>Company: {{entry.company}}<p>
                             <p>Address: {{entry.address}}<p>
                             <p>Price: {{entry.price}}<p>
                             <p>Start Date: {{entry.start_date}}<p>
                             <p>Route Date: {{entry.route_date}}<p>
                             <p>End Date: {{entry.end_date}}<p>
                           <br><br>
                            {% if not entry.approved or not entry.cleared or not entry.verified %}
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type=submit value="Approve" />
                            </form>
                            {% endif %}
                        </div>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                        
{% endblock %}
