{% extends "base.html" %}

{% block main %}
    <h1>Change Password</h1>

                     <p>{{ user }}</p>                        
                     <p>{{ alert }}</p>
                        
                     <div class="container-fluid">   
                        <div class=row>
                          <div class="col-sm-6">
                            <form action="" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ password_form.as_p }}
                              <input type=submit />
                            </form>
                          </div>
                        
                          <div class="col-sm-6">
                            <form action="" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ member_form.as_p }}
                              <input type=submit />
                            </form>
                          </div>
                        </div>
                     </div>
                     <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                        
{% endblock %}
