{% extends "base.html" %}

{% block main %}
<h1>{{entry.route_date}}</h1>
                        <div>
                            <h2>{{entry.name}}</h2>
                             <p>ID: {{entry.job_id}}<p>
                             <p>Company: {{entry.company}}<p>
                             <p>Address: {{entry.address}}<p>
                             <p>Price: {{entry.price}}<p>
                             <p>Start Date: {{entry.start_date}}<p>
                             <p>Route Date: {{entry.route_date}}<p>
                             <p>End Date: {{entry.end_date}}<p>
                           <br><br>
                            <h4>Description</h4>
                            <p>{{entry.description}}</p>
                            
                            {% if form %}
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                  {% if field.name == "photos" %}
                                    <p>
                                    {% for checkbox in form.photos %}
                                       <label class="img_radio" for="{{ checkbox.id_for_label }}">
                                       {{ checkbox.tag }}
                                       <img src="media/{{checkbox.choice_label}}"} />
                                       <span>{{checkbox.choice_value}}<span>
                                       </label>
                                    {% endfor %}
                                    </p>
                                   {% else %}
                                     {{ field.label }}
                                     {{ field}}

                                   {% endif %}
                                {% endfor %}
                                <input type=submit value="Done" />
                            </form>
                            {% endif %}
                            
                        </div>
                                       
{% endblock %}
