{% extends "base.html" %}

{% block main %}
 <h1>Members</h1>
                        <div>
                            {% for member in members %}
                               <div class='member-card'>
                                 <p>Username: {{member.user}}</p>
                                 <p>Type{{member.type}}<p>
                                 <img src='/media/{{member.picture}}' height='200px' width='200px'> </img>
                               </div> 
                            {% endfor %}
                        </div>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                        
{% endblock %}
