{% extends "base.html" %}

{% block main %}
    <h1>Routes</h1>
                        <div>
                            {% for route in routes %}
                                <div class='route-card'>
                                    
                                    <a href="/main/{{page}}/{{route.id}}" >Date: {{route.route_date}}</a>
                                    <p>Distance: {{route.distance}}</p>
                                    <p>Expenses: {{route.expenses}}</p>
                                    <img src='/media/{{route.route_image}}'></img>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    
{% endblock %}
