{% extends "base.html" %}

{% block main %}
<h1>{{entry.route_date}}</h1>
                        <div>
                            {% if formset and user_type == "b" and not entry.visited %}
                                <a href="/main/verify/{{entry.id}}">Complete</a>

                            {% elif formset and user_type == "c" and not entry.completed %}
                                <a href="/main/verify/{{entry.id}}">Complete</a>

                            {% elif user_type == "s" and entry.verified and not entry.finalized %}
                                <a href="/main/verify/{{entry.id}}">Complete</a>    
                            {% endif %}
                        </div>
                        <div>
                            
                             <h2>ID: {{entry.job_id}}</h2>
                             <p>Company: {{entry.company}}<p>
                             <p>Address: {{entry.address}}<p>
                             <p>Price: {{entry.price}}<p>
                             <p>Start Date: {{entry.start_date}}<p>
                             <p>Route Date: {{entry.route_date}}<p>
                             <p>End Date: {{entry.end_date}}<p>
                           <br>
                            <h3>Description</h3>
                            <p>{{entry.description}}</p>
                           <br>
                            
                            {% if user_type == 'b' %}
                                {% include "form_b.html" with formset=formset attachments=attachments %}
                            {% elif user_type == 'c' %}
                                {% include "form_c.html" with formset=formset attachments=attachments %}
                            {% endif %} 
                        </div>

{% endblock %}
{% block script %}
    {% if user_type == 'b' %}
        <script>
            $('#add_more').click(function() {
                cloneMore('div.table:last', 'form');
             });
//////////////////////////////////////////////////////////////////////////////////////////////////////
            function cloneMore(selector, type) {
                var newElement = $(selector).clone(true);
                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                
                newElement.find(':input').each(function() {
                    var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                    });
                
                newElement.find('label').each(function() {
                    var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                    $(this).attr('for', newFor);
                });
                
                total++;
                $('#id_' + type + '-TOTAL_FORMS').val(total);
                $(selector).after(newElement);
            }
        </script>
    {% elif user_type == 'c' %}
        <script>
        </script>
    {% endif %}
{% endblock %}
